{% comment %}
Sydsvenskan News - Half Vertical Layout
Compact news display for vertical split
{% endcomment %}

{% comment %} View config {% endcomment %}
{% assign max_height = 380 %}
{% assign show_elapsed = true %}
{% assign show_more_label = false %}

{% comment %} Get configuration {% endcomment %}
{% assign news_limit = 6 %}
{% assign latest_feed = rss %}
{% assign now_date = 'now' | date: '%s' %}

<div class="layout">
  <div class="list gap--small" data-list-limit="true" data-list-max-height="{{ max_height }}" data-list-hidden-count="{{ show_more_label }}">
    {% if latest_feed.channel.item %}
      {% for item in latest_feed.channel.item limit: news_limit %}
        {% liquid
        if show_elapsed
          assign pub_date_timestamp = item.pubDate | date: '%s'
          assign elapsed = pub_date_timestamp | minus: now_date | abs | plus: 300
          if elapsed > 86400
            assign elapsed_str = elapsed | divided_by: 86400.0 | round: 1 | replace_last: '.0', '' | append: 'd'
          elsif elapsed > 3600
            assign elapsed_str = elapsed | divided_by: 3600 | append: 'h'
          else
            assign elapsed_str = elapsed | divided_by: 60 | append: 'm'
          endif
        endif
        %}
        <div class="item gap--xsmall">
          <div class="meta">
            <span class="index"></span>
          </div>
          <div class="content stretch">
            <div class="flex gap--xsmall">
              {% liquid
              assign title_text = item.title | strip_html
              if show_elapsed
                assign title_text = title_text | append: " (" | append: elapsed_str | append: ")"
              endif
              %}
              <span class="title title--small truncate-none">{{ title_text }}</span>
            </div>
            {% assign desc_content = item.description | default: item.abstract | default: item.summary | default: "" %}
            {% if desc_content != "" %}
              <div class="flex gap--xsmall">
                <span class="description text--xs clamp--1" style="word-break: break-word">{{ desc_content | strip_html }}</span>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="text--xs text--gray-3">Inga nyheter</div>
    {% endif %}
  </div>
</div>
<div class="title_bar">
  <span class="title title--small">
    <svg width="18" height="18" viewBox="0 0 32 32" style="display: inline-block; vertical-align: middle; margin-right: 3px;">
      <rect width="32" height="32" fill="black"/>
      <path d="M9.17488308,0.538811566 C9.17488308,0.623784119 9.14664019,0.709001197 9.09027666,0.737243872 C9.00554796,0.311892059 8.69499836,0.141824692 8.52554098,0.141824692 C8.41281392,0.141824692 8.27159943,0.141824692 8.18687074,0.198554569 C8.44093455,0.368621936 8.58202677,0.623784119 8.58202677,0.935676178 C8.35632812,0.964163379 8.24360106,1.02089326 8.01753562,1.02089326 C7.79171471,1.02089326 7.59401443,0.964163379 7.36831578,0.935676178 L7.31195225,1.44612281 C7.14249486,1.44612281 6.97315974,1.19096062 6.80370236,1.19096062 C6.46503212,1.27605544 6.12623962,1.38939293 5.73108359,1.53121762 C5.42065625,1.53121762 5.11010664,1.44612281 4.8561651,1.44612281 C4.68670771,1.44612281 4.37615811,1.47448774 4.37615811,1.61631244 C4.37615811,1.70128499 4.43276617,1.75801487 4.43276617,1.7863798 C4.43276617,1.84310968 4.37615811,1.84310968 4.34803748,1.84310968 C4.20682299,1.84310968 4.12233883,1.67304231 4.00924497,1.67304231 C3.64220958,1.84310968 3.30353934,2.1266368 3.30353934,2.41028619 C3.30353934,2.66544837 4.26318652,2.60871849 4.74331577,2.69381331 C4.34803748,2.75054318 3.78342406,2.86388067 3.55760315,3.23262487 C3.64220958,3.48778706 3.92451628,3.88477393 4.20682299,3.88477393 C4.54573776,3.88477393 4.65846482,3.43105718 4.99713506,3.43105718 C5.47726431,3.43105718 5.73108359,3.88477393 6.29557474,3.88477393 C6.80370236,3.88477393 7.31195225,3.57275961 7.5376509,3.51602973 C5.73108359,4.65038274 4.00924497,5.69951867 4.00924497,7.59935823 C4.00924497,7.96798017 4.03736561,8.56352161 4.43276617,9.30064322 C4.0938514,9.13057585 2.5695908,8.47830453 2.00497739,8.47830453 C1.75091358,8.47830453 1.32751465,8.90365635 1.32751465,9.07384598 C1.32751465,9.52756273 1.52521493,9.98127948 1.69455005,10.3782664 C2.17431251,11.1722401 2.25916346,12.1646462 2.42837632,13.0719574 C2.48486211,13.4122144 3.07784069,13.3272418 3.21881065,13.6390116 C3.44475382,14.3763778 3.86815275,15.1985942 4.68670771,15.1985942 L4.68670771,13.4689443 C4.60197902,13.4974315 4.43276617,13.5541613 4.20682299,13.5541613 C4.00924497,13.5541613 3.81178922,13.4974315 3.78342406,13.4689443 L3.86815275,12.9584976 C3.78342406,12.7318227 3.47287446,12.5898757 3.30353934,12.4765382 C3.04947553,11.7676593 2.99298973,10.9169557 2.90826104,10.1797118 C3.47287446,10.6901584 4.77131414,11.6825645 5.25119887,11.6825645 C5.42065625,11.6825645 5.56162621,11.5975919 5.6745978,11.4840099 C6.04163319,11.909484 6.40854633,12.3347135 6.77558173,12.6467278 C6.63436724,12.8167952 6.3804257,13.0435925 6.15460478,13.0435925 C5.81581228,13.0435925 5.56162621,12.6467278 5.50526268,12.3347135 L5.1667147,12.5049032 C5.1667147,13.3839717 5.84417744,13.922661 6.49315276,13.9793909 C6.49315276,14.1495805 6.3804257,14.291283 6.23921121,14.3763778 L6.66261014,14.6882698 C7.36831578,14.5182025 7.22710129,13.8942961 7.79171471,13.4689443 C8.92094154,14.291283 10.0499238,14.5464451 11.7436418,14.5464451 C11.6589131,14.8018518 11.6024273,15.1136216 11.6024273,15.4540009 C11.6024273,17.2403807 12.7597748,17.8640426 14.5101008,18.4597063 C13.7761523,19.4519901 13.0422038,20.3595458 12.1952836,21.1817623 L12.3928617,21.5787491 L11.7717625,21.6638439 C11.2918777,21.9190061 11.0098156,22.2308982 11.0098156,22.65625 L12.9009893,22.65625 C12.9855957,22.4009656 13.1266879,22.2308982 13.2396595,22.0608308 L12.9009893,21.8055464 C13.0422038,21.635479 13.2114166,21.5787491 13.4091169,21.5787491 C13.9734858,20.4445184 16.0624821,18.7147462 16.0624821,18.3178816 C16.0624821,18.2895166 16.0624821,18.2045441 15.9777534,18.147692 C15.3285335,17.8075572 14.877014,17.3253533 14.877014,16.9000015 C14.877014,16.2478524 15.893147,15.737528 16.2319395,15.2838113 C16.5704874,14.8018518 16.7117019,14.291283 16.7117019,13.7809586 C16.7117019,13.3272418 16.6269732,12.90189 16.4293952,12.4765382 C16.5704874,12.249741 16.8245512,12.0795513 17.1633437,12.0795513 C17.6149856,12.0795513 17.7843207,12.5049032 17.7843207,12.9868626 C17.7843207,13.6390116 17.304436,14.4331077 17.304436,15.0852567 C17.304436,16.4746496 18.1794767,17.2969883 19.5062816,17.2969883 C20.2118649,17.2969883 21.0306644,17.2118935 21.3128489,16.9000015 C20.1271362,16.8150289 19.5907657,16.3896771 19.5627674,15.8225006 C19.7321025,15.9925679 19.9862886,16.1627576 20.3247143,16.1627576 C20.8610848,16.1627576 21.1435138,15.9077177 21.2281202,15.6240683 C18.3489341,15.6240683 20.8329641,10.7752532 18.2643277,10.7752532 C17.0503722,10.7752532 16.7117019,11.7391721 16.1754537,11.909484 C15.6108402,11.1155102 14.792163,11.0304154 14.0300939,10.8602258 L16.3447888,10.0947392 L15.9777534,8.87541367 C16.1754537,8.79031885 16.6269732,8.73358898 16.6269732,8.39333198 C16.6269732,7.57099329 16.0059963,6.60695218 15.8365389,6.09650555 C15.7519325,5.81297843 14.7074343,5.38762661 14.7074343,5.27416686 C14.7074343,5.16082937 14.877014,5.07573455 14.877014,4.99063974 C14.877014,4.9622748 14.877014,4.93390986 14.8486488,4.90554492 C14.9616204,4.70711262 15.3285335,4.73547756 15.5261116,4.45182817 C15.6672038,4.53704525 15.7800531,4.65038274 15.9213898,4.65038274 C15.9777534,4.65038274 16.0059963,4.6220178 16.0059963,4.56528793 C16.0059963,4.3950983 15.9213898,4.16830105 15.8365389,4.08320624 C16.1470885,3.88477393 16.5704874,3.65797669 17.0503722,3.51602973 C16.881037,2.835638 16.5704874,2.32519137 15.9777534,1.95656943 C15.6672038,2.32519137 15.3285335,2.66544837 14.9616204,2.94897549 C14.877014,2.86388067 14.6229502,2.66544837 14.5101008,2.66544837 C14.453615,2.66544837 14.3686418,2.66544837 14.3686418,2.75054318 C14.3686418,2.86388067 14.5101008,3.09080018 14.594585,3.175895 C14.453615,3.31759743 13.8041507,3.45942212 13.8041507,3.45942212 C13.8041507,3.57275961 13.9171223,3.62961175 13.9171223,3.68634162 C13.9171223,3.7145843 13.8890016,3.7145843 13.8890016,3.7145843 C13.8326381,3.7145843 13.8326381,3.68634162 13.8041507,3.68634162 C13.8041507,3.74294924 13.465725,4.02647636 13.465725,4.19666599 C13.465725,4.45182817 13.8606365,4.48019311 13.8606365,4.70711262 C13.8606365,4.79208517 13.8041507,4.82045011 13.7761523,4.90554492 C13.578452,4.79208517 13.4091169,4.73547756 13.2396595,4.73547756 C12.9009893,4.73547756 12.3928617,4.79208517 12.0258263,4.82045011 L12.5904397,4.08320624 C12.5904397,3.99811142 12.505711,3.88477393 12.4212268,3.82804405 C12.5621968,3.7145843 12.7317764,3.57275961 12.9292322,3.57275961 C12.9855957,3.57275961 12.9855957,3.65797669 13.0702021,3.65797669 C13.1266879,3.65797669 13.2396595,3.60124681 13.2396595,3.51602973 L13.465725,3.79967912 L13.6631807,3.57275961 C13.4937233,3.45942212 13.3807517,3.34596236 13.2114166,3.175895 C13.4937233,3.06243524 13.7761523,2.77890812 13.7761523,2.52362368 C13.7761523,2.04166425 13.4091169,1.75801487 13.0422038,1.75801487 C12.7597748,1.75801487 12.4212268,1.9282045 12.4212268,2.18336668 L12.4212268,2.01317705 C12.4212268,1.5879475 12.9009893,1.04913593 13.3807517,0.935676178 L11.7436418,0.198554569 C11.6589131,0.396986875 11.5460638,0.737243872 11.5460638,1.10586581 C11.5460638,1.75801487 11.6872783,2.32519137 12.1106772,2.77890812 C12.1106772,2.86388067 12.0258263,2.94897549 12.0258263,3.09080018 C12.0258263,3.14753006 12.0823121,3.175895 12.0823121,3.23262487 C12.0823121,3.34596236 11.9412198,3.43105718 11.8566134,3.51602973 L11.6589131,3.43105718 C11.2637571,4.08320624 10.6429024,4.65038274 10.6429024,5.3025318 C10.6429024,5.92643818 12.0541914,5.86958604 12.4212268,5.95468086 C11.6872783,6.69204699 11.3483635,7.74118292 10.5580515,8.25150729 C10.7273866,8.47830453 11.1790284,8.56352161 11.1790284,8.56352161 C11.0098156,8.64849416 10.614415,8.81868379 10.3888386,8.87541367 C9.65489007,8.30823716 8.89257638,7.96798017 8.89257638,6.83374942 C8.89257638,6.83374942 9.00554796,6.86211436 9.14664019,6.86211436 C9.23149114,6.86211436 9.57003912,6.77701954 9.65489007,6.66368205 C9.23149114,6.46512748 9.0619115,6.09650555 9.00554796,5.78461349 C9.09027666,5.86958604 9.25948951,5.95468086 9.48531042,5.95468086 C9.71137587,5.95468086 9.96543968,5.86958604 10.1346525,5.69951867 C9.71137587,5.52932904 9.57003912,5.21743698 9.57003912,4.9622748 C9.57003912,4.87717999 9.59840428,4.79208517 9.62652491,4.73547756 C9.62652491,4.73547756 9.68288844,4.76384249 9.7677394,4.76384249 C9.96543968,4.76384249 10.3039877,4.67874768 10.614415,4.31012574 C10.1346525,4.31012574 10.0499238,3.99811142 10.0499238,3.82804405 C10.0499238,3.74294924 10.0781667,3.7145843 10.0781667,3.7145843 C10.1064096,3.74294924 10.1628954,3.74294924 10.219259,3.74294924 C10.5016879,3.74294924 10.7837501,3.54451693 10.8686011,3.34596236 C9.99343805,3.31759743 10.3603512,2.60871849 10.0781667,2.09839413 C10.3888386,1.84310968 10.7273866,1.84310968 11.0379362,1.53121762 L11.1790284,1.38939293 C10.8686011,1.44612281 10.5580515,1.44612281 10.3039877,1.44612281 L10.8121153,0.964163379 C10.4733228,1.02089326 10.1911383,1.07750087 9.93695225,1.07750087 C9.82410293,1.07750087 9.71137587,1.07750087 9.62652491,1.04913593 C9.65489007,0.964163379 9.65489007,0.793973749 9.65489007,0.709001197 C9.65489007,0.226919507 9.34446273,0.0567298767 9.00554796,0 C9.14664019,0.198554569 9.17488308,0.368621936 9.17488308,0.538811566 L9.17488308,0.538811566 Z M7.79171471,14.5182025 L7.4529222,14.291283 L7.67886538,14.6316622 L7.31195225,14.8018518 L7.70710828,14.8018518 L7.67886538,15.1985942 L7.87656566,14.8868244 L8.24360106,15.0852567 L8.04590078,14.7166348 L8.41281392,14.5464451 L7.96104983,14.5464451 L7.96104983,14.1495805 L7.79171471,14.5182025 Z M11.8566134,9.13057585 C11.1790284,9.47083285 10.3039877,9.86781972 9.54191848,10.0380094 L9.42894689,9.69775236 C10.1346525,9.47083285 10.7837501,9.21567067 11.3767287,8.96038622 L11.8566134,9.13057585 Z M12.9855957,2.09839413 C13.2396595,2.09839413 13.4091169,2.32519137 13.4091169,2.43852886 C13.4091169,2.66544837 13.4372375,2.69381331 13.1266879,2.835638 C13.1550531,2.835638 13.1550531,2.80727306 13.1550531,2.77890812 C13.1550531,2.75054318 13.0986896,2.69381331 13.0422038,2.69381331 L13.0422038,2.58035355 C12.8726241,2.49525874 12.9573528,2.46701606 12.8445035,2.46701606 C12.8162606,2.46701606 12.78814,2.49525874 12.7597748,2.49525874 C12.7597748,2.41028619 12.5904397,2.41028619 12.5904397,2.41028619 C12.6468032,2.21185388 12.7597748,2.09839413 12.9855957,2.09839413 L12.9855957,2.09839413 Z M14.5380992,7.57099329 L14.877014,7.17400642 C14.877014,7.31583111 14.9616204,7.42929086 15.0462268,7.51426342 L15.3285335,7.48602074 L15.41314,7.74118292 C14.792163,7.99634511 14.3686418,8.22314235 13.8890016,8.50679173 L13.9734858,8.64849416 C13.9734858,8.64849416 13.6631807,8.73358898 13.6349378,9.04548104 C13.2396595,9.13057585 13.1266879,9.15894079 13.1266879,9.15894079 L12.8445035,7.91125029 L14.5380992,7.57099329 Z" fill="white" transform="translate(4.6875, 4.6875)"/>
    </svg>
    Sydsvenskan
  </span>
  <span class="instance text--xs">{{ 'now' | date: '%H:%M' }}</span>
</div>
